/*Stylesheet by Timothy Prestby and Joe Marks 2019*/

/* Begin styling from human trafficking */
#wrapper {
  position:absolute;
  height:100%;
  width:100%;
    overflow-y: scroll;
}


article.container {
  background: #414142;
  color: #d8d8d8;
  opacity: 0.9;
  width: 100%;
  max-width: 600px;
  float: left;

}

.article_paragraph {
  max-width: 600px;
  margin: 18px auto;
}

/* End styling from human trafficking */

/* Defines a horizontal center for leaflet controls */ 
.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 50%; /* possible because the placeholder's parent is the map */
    transform: translate(-23%, -50%); /* using the CSS3 Transform technique */
    padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

#info-pane{
    height: 100vh;
    width: 11.99vw;
    display: inline-block;
    float: left;
}

#timelineSlider{
    padding-left: 0px;
    margin-bottom: 100px; 
}

#map{
    height: 100vh;
    width: 84.99vw;
    right: 17.5px;
    display: inline-block;
    float: right;
    position: absolute;
    z-index: -99;
    
}

.leaflet-tile{
    border: 0px;
}

.leaflet-top{
    margin-left: 50px;
}

/*Fill up all screen real-esate*/
html,body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/*Format Popup*/
.leaflet-popup-content p{
    margin: 0.2em 0;
    max-width: 200px;
    max-height: 200px;
    font-family: 'Rubik', sans-serif;
}

.leaflet-popup{ pointer-events: none; }

/*Format Legend*/
.legend-control-container {
    color: rgb(85, 85, 85);
    background: white;
    border-radius: 15px;
    text-align: center;
    min-width: 175px;
    font-family: 'Sanchez', serif;
    font-size: 1.25em;

}

.attribute-legend p{
    color: black !important;
    margin: 0;
    font-family: 'Sanchez', serif;
    margin-bottom:0;


}

#title{
    margin-bottom: 10px !important;
    font-size: 1.33em;
}
